.form-container {
    margin: 50px auto;
    width: 500px;
    border-radius: 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 10px 0 10px 0;
}

.upload-button {
    margin: 20px 0 0 0;
    float: none !important;
}