<nav class="green darken-4">
    <div class="container nav-wrapper">
        <a href="#!" class="brand-logo">Detection Results</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{% url 'upload' %}">
                    <i class="material-icons left">add_a_photo</i>Upload New Image</a>
            </li>
            <li>
                <a href="{{ pdf_file }}">
                    <i class="material-icons left">insert_drive_file</i>Download PDF Report</a>
            </li>
        </ul>
    </div>
</nav>