.margin-container {
    margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 10px 0 10px 0;
}

.upload-button {
    margin: 20px 0 0 0;
    float: none !important;
}

.image-thumbnail {
    height: 900px !important;
}

.confidence {
    color: #1b5e20 !important;
}

.about-link {
    color: #1b5e20 !important;
}

.about-link:hover {
    color: #66bb6a !important;
}

.transparent {
    background-color: transparent !important;
}